@import 'https://fonts.googleapis.com/css?family=Rubik:400,900';

* {
  font-family: "Rubik"
}

img {
  max-width: 200px;
  border-radius: .85rem;
}

h1, h2, h3, h4, strong {
  font-family: "Rubik";
  font-weight: bolder;
}
